h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #a01515;
}
h1 {
    font-size: 1.9em;
    border-bottom: 0.05em solid #a01515;
    font-weight: bold;
}
h2 {
    font-size: 1.4em;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    margin-top: 2em;
}
#mapa {
    height: 500px;
    width: 100%;
}
input[type="button"] {
	height: 30px;
	border-radius: 5px;
	background-color: #BDC3C7;
    font-weight: bold;
    font-size: 15px;
	text-align: center;
	cursor: pointer;
	margin: 8px -3px 0px 10px;
	box-shadow: 0px 3px 1px 0px #444651;
}
input[id="lat"] {
    margin-left: 23px;
}
input[id="lng"] {
    margin-left: 10px;
}
input[type="button"]:focus {
	outline:0; /*eliminar borde azul al pulsar un input por defecto*/
}
input[type="button"]:hover {
	background-color: #BEF9F0;
}
input[type="button"]:active{
	box-shadow: 0px 1px 1px 0px #444651;
}